<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="d2si.apps.planetedashboard">

    <!--                        Permissions                         -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--                        Application                         -->
    <application
        android:name="MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--                        Activities                          -->
        <activity
            android:name=".ui.activities.LoginActivity"
            android:label="@string/activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activities.MainMenuActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.activities.TestActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.activities.SettingsActivity"
            android:label="@string/activity_settings"
            android:theme="@style/PreferenceTheme"/>

    </application>

</manifest>